:root {
  --primary-color: #FFFFFF;
  /* try #212121 also for dark mode */
  --background-color: #fcf3e4;
  --border-color: #E5E5E5;
  --title-color: #e40001;
  --tertiary-color: #14213D;
  --header-color: #edf2f4;
  --red: #e40001;
  --blue: #9ac8c8;
  --yellow: #fbc117;
  --green: #005a5a;
  --orange: #fb5e01;
  --font: 'Fredoka One', cursive;
}

@keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
 }
  100% {
    opacity: 1;
    top: 0px;
 }
}
@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
 }
  100% {
    top: -400px;
    opacity: 0;
 }
}
body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body #scene {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 80%;
  max-width: 1200px;
  height: 700px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}
body #scene #left-zone {
  background: #fff;
  height: 75%;
  flex-grow: 0;
  display: flex;
  width: 75px;
  align-items: center;
  justify-content: left;
}
body #scene #left-zone .list {
  display: flex;
  list-style: none;
  align-content: stretch;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
body #scene #left-zone .list li.item input[type="radio"] {
  display: none;
}
body #scene #left-zone .list li.item input[type="radio"] ~ label {
  display: block;
  opacity: 0.5;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
body #scene #left-zone .list li.item input[type="radio"] ~ label:first-letter {
  text-transform: uppercase;
}
body #scene #left-zone .list li.item input[type="radio"] ~ label:hover {
  opacity: 0.75;
  cursor: pointer;
}
body #scene #left-zone .list li.item input[type="radio"] ~ label.calendar-icon:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}
/* #region || Calendar Icons */
body #scene #left-zone .list li.item input[type="radio"] ~ label.label_jul2022:before {
  background-image: url(../UI/CalendarImages/Jul2022.png);
}
body #scene #left-zone .list li.item input[type="radio"] ~ label.label_aug2022:before {
  background-image: url(../UI/CalendarImages/Aug2022.png);
}
body #scene #left-zone .list li.item input[type="radio"] ~ label.label_sep2022:before {
  background-image: url(../UI/CalendarImages/Sep2022.png);
}
body #scene #left-zone .list li.item input[type="radio"] ~ label.label_oct2022:before {
  background-image: url(../UI/CalendarImages/Oct2022.png);
}
body #scene #left-zone .list li.item input[type="radio"] ~ label.label_nov2022:before {
  background-image: url(../UI/CalendarImages/Nov2022.png);
}
body #scene #left-zone .list li.item input[type="radio"] ~ label.label_dec2022:before {
  background-image: url(../UI/CalendarImages/Dec2022.png);
}
body #scene #left-zone .list li.item input[type="radio"] ~ label.label_jan2023:before {
  background-image: url(../UI/CalendarImages/Jan2023.png);
}
body #scene #left-zone .list li.item input[type="radio"] ~ label.label_feb2023:before {
  background-image: url(../UI/CalendarImages/Feb2023.png);
}
body #scene #left-zone .list li.item input[type="radio"] ~ label.label_mar2023:before {
  background-image: url(../UI/CalendarImages/Mar2023.png);
}
body #scene #left-zone .list li.item input[type="radio"] ~ label.label_apr2023:before {
  background-image: url(../UI/CalendarImages/Apr2023.png);
}
body #scene #left-zone .list li.item input[type="radio"] ~ label.label_may2023:before {
  background-image: url(../UI/CalendarImages/May2023.png);
}
body #scene #left-zone .list li.item input[type="radio"] ~ label.label_jun2023:before {
  background-image: url(../UI/CalendarImages/Jun2023.png);
}
body #scene #left-zone .list li.item input[type="radio"] ~ label.label_jul2023:before {
  background-image: url(../UI/CalendarImages/Jul2023.png);
}
/* #endregion */
body #scene #left-zone .list li.item input[type="radio"] ~ .content {
  position: absolute;
  left: 75px;
  top: -700px;
  width: 1125px;
  height: 700px;
  animation-duration: 0.75s;
  animation-name: slideout;
  animation-timing-function: ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body #scene #left-zone .list li.item input[type="radio"] ~ .content .picto {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
/* #region || Month Pictures */
body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_jul2022 .picto {
  height: 500px;
  width: 700px;
  background-image: url(../UI/Work.jpg);
}
body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_aug2022 .picto {
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/53209-200.png');
}
body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_sep2022 .picto {
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/14333-200.png');
}
body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_oct2022 .picto {
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png');
}
body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_nov2022 .picto {
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png');
}
body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_dec2022 .picto {
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png');
}
body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_jan2023 .picto {
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png');
}
body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_feb2023 .picto {
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png');
}
body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_mar2023 .picto {
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png');
}
body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_apr2023 .picto {
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png');
}
body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_may2023 .picto {
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png');
}
body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_jun2023 .picto {
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png');
}
body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_jul2023 .picto {
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png');
}
/* #endregion */
body #scene #left-zone .list li.item input[type="radio"] ~ .content h1:first-letter {
  text-transform: uppercase;
}
body #scene #left-zone .list li.item input[type="radio"] ~ .content p {
  max-width: 50%;
  text-align: center;
}
body #scene #left-zone .list li.item input[type="radio"]:checked ~ label {
  opacity: 1;
  animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.Date1 {
  border-right: solid 4px var(--red);
}
body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.Date2 {
  border-right: solid 4px var(--yellow);
}
body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.Date3 {
  border-right: solid 4px var(--green);
}
body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.Date4 {
  border-right: solid 4px var(--orange);
}
body #scene #left-zone .list li.item input[type="radio"]:checked ~ .content {
  animation-duration: 0.75s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
body #scene #middle-border {
  background-color: var(--background-color);
  height: 90%;
  flex-grow: 1;
  max-width: 2px;
  z-index: 0;
}
body #scene #right-zone {
  background: #fff;
  height: 100%;
  flex-grow: 3;
}
