:root {
    --primary-color: #FFFFFF; /* try #212121 also for dark mode */
    --background-color: #000000;
    --border-color: #E5E5E5;
    --title-color: #FCA311;
    --tertiary-color: #14213D;
    --header-color: #edf2f4;
    --font: sans-serif;
  }


#unitable {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border:1px solid rgb(150, 146, 146);
}

th {
    font-size: x-large;
}

td {
    font-size: large;
}

.tableheader {
    color: var(--title-color);
    text-align: center;
    list-style: none;
}

#ModuleGrade {
    font-size: larger;
}

.topbar {
    display: inline-block;
}

.pastedu {
    display: inline-block;
}
/*Exam results*/
.Result h3 {
    color: var(--title-color);
    text-align: center;
}

.Result h2 {
    color: var(--title-color);
    text-align: center;
}

.Result li {
    text-align: center;
    list-style: none;
}

.tableheader {
    text-align: center;
    list-style: none;
}

.Result {
    text-align: center;
}

#PastEdu {
    width: 100%;
}

#PastEdu h2 {
    color: var(--border-color);
}

.EduParagraph {
    width:50%;
    margin: auto;
}


