:root {
  --primary-color: #FFFFFF; /* try #212121 also for dark mode */
  --background-color: #fcf3e4;
  --border-color: #E5E5E5;
  --title-color: #e40001;
  --header-color: #edf2f4;
  --red: #e40001;
  --blue: #9ac8c8;
  --yellow: #fbc117;
  --green: #005a5a;
  --orange: #fb5e01;
  --font: 'Fredoka One', cursive;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.placement-timeline-section {
  background: var(--orange);
  padding: 50px 0;
}

.placement-timeline-section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.placement-timeline-section h1 {
  font-size: 2.5rem;
}

.placement-timeline-section h2 {
  font-size: 1.3rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.placement-timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.placement-timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.placement-timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: var(--background-color);
}

.placement-timeline ol li:last-child {
  width: 280px;
}

.placement-timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.placement-timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: var(--yellow);
}

.placement-timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 330px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: var(--green);
  background: var(--background-color);
}

.placement-timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.placement-timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.placement-timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: var(--background-color) transparent transparent transparent;
}

.placement-timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.placement-timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent var(--background-color);
}

.placement-timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.placement-timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.placement-timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.placement-timeline .disabled {
  opacity: .5;
}

.placement-timeline .arrows img {
  width: 45px;
  height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .placement-timeline ol,
  .placement-timeline ol li {
    width: auto; 
  }
  
  .placement-timeline ol {
    padding: 0;
    transform: none !important;
  }
  
  .placement-timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }
  
  .placement-timeline ol li:first-child {
    margin-top: 25px;
  }
  
  .placement-timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  
  .placement-timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }
  
  .placement-timeline ol li div {
    position: static;
  }
  
  .placement-timeline ol li:nth-child(odd) div {
    transform: none;
  }
  
  .placement-timeline ol li:nth-child(odd) div::before,
  .placement-timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid var(--background-color);
    height: 25px;
  }
  
  .placement-timeline ol li:last-child,
  .placement-timeline ol li:nth-last-child(2) div::before,
  .placement-timeline ol li:not(:last-child)::after,
  .placement-timeline .arrows {
    display: none;
  }
}