.project_menu{
  width: 100%;
  margin: 0;
  padding: 0;
}
.projects {
  justify-content: center;
  align-items: center;
  width: 100%;
}
.project_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 20px 0 80px;
}
.project_card {
  width: 300px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
.project_card:hover .project_card__caption {
  top: 50%;
  transform: translateY(-50%);
}

.project_card:hover .project_card__thumb::after {
  top: 0;
}
.project_card:hover .project_card__snippet {
  margin: 20px 0;
}
.project_card__thumb {
  position: relative;
  max-height: 400px;
  overflow: hidden;
  border-radius: 30px;
  width: 100%;
  align-items: center;
}
@media (min-width: 1024px) {
  .project_card__thumb {
    max-height: 400px;
 }
}
.project_card__thumb::after {
  position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, .5) 40%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .project_card__thumb::after {
    top: calc(100% - 140px);
 }
}
.project_card__image {
  transition: 0.5s ease-in-out;
  width: auto;
  height: 400px;
  /* transform: translate(-50%, 0%); */
  margin-left: 50%;
  transform: translateX(-50%);
}
.project_card__caption {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 0 20px;
  color: var(--yellow);
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .project_card__caption {
    top: calc(100% - 110px);
    transform: unset;
 }
}
.project_card__title {
  display: -webkit-box;
  max-height: 90px;
  overflow: hidden;
  font-family: var(--font);
  font-size: 23px;
  line-height: 37px;
  text-shadow: 0px 1px 5px var(--red);
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.project_card__snippet {
  display: -webkit-box;
  max-height: 150px;
  margin: 20px 0;
  overflow: hidden;
  font-family: var(--font);
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
@media (min-width: 1024px) {
  .project_card__snippet {
    margin: 80px 0;
 }
}
.project_card__button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  color: var(--orange);
  border: 1px solid var(--orange);
  font-family: var(--font);
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 8px;
}
.project_card__button:hover {
  color: var(--green);
  background-color: var(--orange);
}
