/* Colour Scheme - var(--background-color) black, var(--tertiary-color), var(--title-color), var(--border-color), var(-primary-color) */
:root {
    --primary-color: #FCF7F8; /* try #212121 also for dark mode */
    --background-color: #CED3DC;
    --border-color: #FCF7F8;
    --title-color: #275DAD;
    --tertiary-color: #ABA9C3;
    --header-color: #edf2f4;
    --font: sans-serif;
  }


#fullname {
    font-size: xx-large;
    z-index: 9;
    margin: 3px auto;
}

.pagetitle{
    font-size: 80px;
    margin: 2% auto;
    padding: auto;
}

hr.pageseparator {
    background-color: var(--border-color);
    width: 60%;
    border-top: 5px solid var(--border-color);
    border-radius: 5px;
    margin: 1% auto;
}

hr.titleseparator{
    background-color: var(--border-color);
    width: 60%;
    border-top: 5px solid var(--border-color);
    border-radius: 5px;
    margin: 1% 0%;    
}

#portrait {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid var(--border-color);
}

.homebuttonsleft {
    left: 1%;
    top: 1%;
    width: 3%;
    height: 6%;
    position: absolute;
}

.homebuttonsright {
    right: 1%;
    top: 1%;
    width: 3%;
    height: 6%;
    position: absolute;
}

header {
    color: var(--title-color);
    background-color: var(--header-color);
    text-align: center;
    width: 100%;
    left: 0%;
    top: 0%;
    border-radius: 0%;
    margin: 0%;
    padding: 0%;
    top: 0%;
    border: 10px solid var(--header-color);
}

nav {
    width: 100%;
}

* {
    /*border: 1px solid black;
    border-width: 1px;*/
    font-family: Helvetica;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--tertiary-color);
    color: var(--border-color);
    margin: 0%;
    padding: 0%;
    align-items: center;
}

.sectiontitle {
    text-align: center;
    font-size: xx-large;
    color: var(--title-color);
}

section {
    text-align: center;
    margin: auto 20% ;
    width: 60%;
}

.box {
    margin: 2% 10%;
    background-color: var(--title-color);
    padding: 1% auto;
    border: 2px solid var(--title-color);
    border-radius: 20px ;
    display: flex
}

.textbox {
    margin: 1%;
    width: 75%;
    text-align: left;
    display: inline-block;
}

.imagebox{
    margin: 1%;
    width: 20%;
    height: 20%;
    left: 0%;
    display: inline-block;
}

.center {
    text-align: center;
}

.skills {
    height: 10vh;
    width: auto;
    padding: auto 4%;
}

.projectImage {
    height: 50vh;
    width: auto;
}