/* Colour Scheme - var(--background-color) black, var(--tertiary-color), var(--title-color), var(--border-color), var(-primary-color) */
/* :root {
    --primary-color: #FCF7F8; /* try #212121 also for dark mode
    --background-color: #CED3DC;
    --border-color: #FCF7F8;
    --title-color: #275DAD;
    --tertiary-color: #ABA9C3;
    --header-color: #edf2f4;
    --font: sans-serif;
  } */

:root {
    --primary-color: #FFFFFF;
    /* try #212121 also for dark mode */
    --background-color: #fcf3e4;
    --border-color: #E5E5E5;
    --title-color: #e40001;
    --tertiary-color: #14213D;
    --header-color: #edf2f4;
    --red: #e40001;
    --blue: #9ac8c8;
    --yellow: #fbc117;
    --green: #005a5a;
    --orange: #fb5e01;
    --font: 'Fredoka One', cursive;
}

.background-color {
    color: var(--background-color);
}

.red {
    color: var(--red);
}

.red-background {
    background-color: var(--red);
}

.blue {
    color: var(--blue);
}

.blue-background {
    background-color: var(--blue);
}

.yellow {
    color: var(--yellow);
}

.yellow-background {
    background-color: var(--yellow);
}

.green {
    color: var(--green);
}

.green-background {
    background-color: var(--green);
}

.orange {
    color: var(--orange);
}

.orange-background {
    background-color: var(--orange);
}

* {
    font-family: var(--font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    color: var(--orange);
    background-color: var(--background-color);
    width: 100%;
    top: 0%;
    border-radius: 0%;
    margin: 0%;
    padding: 0%;
    top: 0%;
    border: 10px solid var(--background-color);
    text-align: center;
    font-size: 35px;
}

.fullname {
    margin: 1rem;
}

@media only screen and (max-width: 600px) {
    .fullname {
      font-size: 30px;
    }

    .skill-holder {
        max-height: 50px;
    }
    .skill-holder img {
        height: 45px;
        width: auto;
    }
    .skill-overlay p {
        font-size: 10px;
    }
    .pagetitle h1 {
        font-size: 25px;
    }
    .textbox p{
        font-size: small;
    }
    .sectiontitle h2 {
        font-size: 25px;
    }
    .box {
        display: block !important;
    }
    .imagebox {
        width: 100% !important;
        height: auto !important;
    }
  }

.pagetitle {
    font-size: 50px;
    margin: 1% auto;
    color: var(--green);
}

hr.pageseparator {
    background-color: var(--yellow);
    width: 60%;
    border: 5px solid var(--yellow);
    border-radius: 5px;
    margin: 1% auto;
}

hr.titleseparator {
    background-color: var(--background-color);
    width: 60%;
    border-radius: 5px;
    border: 5px solid var(--yellow);
    margin: 1% 0%;
}

#portrait {
    width: 100%;
    height: 100%;
}

.homebuttonsleft {
    left: 1%;
    top: 1%;
    width: 3%;
    height: 6%;
    position: absolute;
}

.homebuttonsright {
    padding: auto;
    width: 50px;
    height: 50px;
}

nav {
    width: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--border-color);
    margin: 0%;
    padding: 0%;
    align-items: center;
}

.sectiontitle {
    text-align: center;
    font-size: xx-large;
    color: var(--green);
}

.sectiontitle p {
    font-size: 20px;
    color: var(--blue);
}

section {
    z-index: -2;
}

.skills-section {
    text-align: center;
    margin: auto 20% ;
}

/*ContactSection*/
#contact {
    margin: auto 20% ;
}

.box {
    margin: 2% 10%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.hobbies {
    width: 100%;
    margin: auto;
}

.textbox {
    margin: 1%;
    width: 75%;
    text-align: left;
    display: inline-block;
    color: var(--green);
    font-size: x-large;
    background-color: transparent;
}

.imagebox {
    position: relative;
    width: 50%;
}

.imagebox img {
    display: inline-block;
}

.image-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.image-text p {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    text-align: center;
}

.projectImage {
    height: 50vh;
    width: auto;
}

.topcurve {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    background: var(--background-color);
    width: 100%;
    margin: 0;
    margin-bottom: 120px;
}

.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: var(--blue);
    z-index: -1;
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: var(--background-color);
    transform: translate(-4%, 40%);
    z-index: -1;
}

.topcurve1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    background: var(--blue);
    width: 100%;
    margin: 0;
    margin-bottom: 150px;
}

.curve1 {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.curve1::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: var(--background-color);
}

.curve1::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: var(--blue);
    transform: translate(-4%, 40%);
    z-index: -1;
}

.footer {
    background-color: var(--green);
    height: 50px;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    padding: 15px;
    color: var(--background-color);
    z-index: 50;
}

.footer #LinkedIn {
    right: 5px;
    top: 5px;
    padding: 0;
    position: absolute;
}

.mycode {
    position: relative;
    color: var(--yellow);
    font-size: large;
    margin: auto;
}

.skills-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 20px 0 80px;
}

.skills-img {
    width: 128px;
    border-radius: 5px;
    margin: 2% auto;
    display: inline-block;
}

.skill-holder {
    position: relative;
    width: 20%;
    margin-bottom: 5%;
}

.skill-holder:hover .skill-overlay {
    opacity: 0.9;
}

.skill-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--background-color);
    font-size: 20px;
}

.skill-overlay p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    font: var(--font);
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=checkbox] {
    font: var(--font);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    margin-right: 100%;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: var(--red);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: var(--yellow);
}

/* Add a background color and some padding around the form */
.form-container {
    border-radius: 5px;
    background-color: var(--background-color);
    padding: 20px;
    position: relative;
    color: var(--yellow);
}

.form-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: var(--blue);
    border-radius: 50px;
    text-align: center;
    display: none;
}

.feedback {
    color: var(--orange);
    margin: 5%;
    font-size: 70px;
}

.close {
    margin: auto;
    font-size: 50px;
    padding: 30px;
    color: var(--background-color);
    background-color: var(--green);
    border-radius: 10px;
    width: 40%;
    cursor: pointer;
}

.close:hover {
    background-color: var(--orange);
    cursor: pointer;
}

.last-section {
    padding-bottom: 100px;
    margin-bottom: 50px;
}

#country,
#fname,
#lname,
#job,
#subject,
#submitted {
    font: var(--font);
    color: var(--blue);
}