/* Colour Scheme - var(--background-color) black, var(--tertiary-color), var(--title-color), var(--border-color), var(-primary-color) */
/* :root {
    --primary-color: #FCF7F8; /* try #212121 also for dark mode
    --background-color: #CED3DC;
    --border-color: #FCF7F8;
    --title-color: #275DAD;
    --tertiary-color: #ABA9C3;
    --header-color: #edf2f4;
    --font: sans-serif;
  } */

:root {
  --primary-color: #FFFFFF; /* try #212121 also for dark mode */
  --background-color: #fcf3e4;
  --border-color: #E5E5E5;
  --title-color: #e40001;
  --tertiary-color: #14213D;
  --header-color: #edf2f4;
  --red: #e40001;
  --blue: #9ac8c8;
  --yellow: #fbc117;
  --green: #005a5a;
  --orange: #fb5e01;
  --font: 'Fredoka One', cursive;
}

.background-color {
    color: var(--background-color);
}
  .red {
    color: var(--red);
}
.red-background {
    background-color: var(--red);
}
.blue {
    color: var(--blue);
}
.blue-background {
    background-color: var(--blue);
}
.yellow {
    color: var(--yellow);
}
.yellow-background {
    background-color: var(--yellow);
}
.green {
    color: var(--green);
}
.green-background {
    background-color: var(--green);
}
.orange {
    color: var(--orange);
}
.orange-background {
    background-color: var(--orange);
}

  * {
    font-family: var(--font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    color: var(--orange);
    background-color: var(--background-color);
    width: 100%;
    top: 0%;
    border-radius: 0%;
    margin: 0%;
    padding: 0%;
    top: 0%;
    border: 10px solid var(--background-color);
    text-align: center;
    font-size: 35px;
}

.fullname {
    margin: 1rem;
}

.pagetitle{
    font-size: 50px;
    margin: 1% auto;
    padding: auto;
    color: var(--green);
}

hr.pageseparator {
    background-color: var(--yellow);
    width: 60%;
    border: 5px solid var(--yellow);
    border-radius: 5px;
    margin: 1% auto;
}

hr.titleseparator{
    background-color: var(--background-color);
    width: 60%;
    border-radius: 5px;
    border: 5px solid var(--yellow);
    margin: 1% 0%;
}

#portrait {
    width: 100%;
    height: 100%;
}

.homebuttonsleft {
    left: 1%;
    top: 1%;
    width: 3%;
    height: 6%;
    position: absolute;
}

.homebuttonsright {
    padding: auto;
    width: 50px;
    height: 50px;
}

nav {
    width: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--border-color);
    margin: 0%;
    padding: 0%;
    align-items: center;
}

.sectiontitle {
    text-align: center;
    font-size: xx-large;
    color: var(--green);
}

section {
    margin: auto 20% ;
}

.skills-section {
    text-align: center;
}

.box {
    margin: 2% 10%;
    background-color: var(--background-color);
    padding: 1% auto;
    border: 2px solid var(--background-color);
    border-radius: 20px ;
    display: flex
}

.textbox {
    margin: 1%;
    width: 75%;
    text-align: left;
    display: inline-block;
    color: var(--green);
    font-size: x-large;
    background-color: transparent;
    z-index: 10;
}

.imagebox{
    margin: 1%;
    width: 40%;
    height: 40%;
    left: 0%;
    display: inline-block;
}

.center {
    text-align: center;
}

.projectImage {
    height: 50vh;
    width: auto;
}

.topcurve {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    background: var(--background-color);
    width: 100%;
    margin: 0;
    margin-bottom:120px;
}

.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: var(--blue);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: var(--background-color);
    transform: translate(-4%, 40%);
    z-index: -1;
}

.topcurve1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    background: var(--blue);
    width: 100%;
    margin: 0;
    margin-bottom:150px;
}

.curve1 {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.curve1::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: var(--background-color);
}

.curve1::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: var(--blue);
    transform: translate(-4%, 40%);
    z-index: -1;
}

.footer {
    background-color: var(--green);
    height: 50px;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    padding: 15px;
    color: var(--background-color);
}

.footer a {
    right: 5px;
    top: 5px;
    padding: 0;
    position: absolute;
}

.mycode {
    position: relative;
    color: var(--yellow);
    font-size: large;
    padding-left: 25%;
}

.skills-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 20px 0 80px;
}

.skills-img {
    width:128px;
    border-radius: 5px;
    margin: 2% auto;
    display: inline-block;
}

.skill-holder {
    position: relative;
    width: 20%;
    margin-bottom: 5%;
}

.skill-holder:hover .skill-overlay {
    opacity: 0.9;
}

.skill-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--background-color);
}

.skill-overlay p {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}