:root {
    --primary-color: #FFFFFF; /* try #212121 also for dark mode */
    --background-color: #fcf3e4;
    --border-color: #E5E5E5;
    --title-color: #e40001;
    --tertiary-color: #14213D;
    --header-color: #edf2f4;
    --red: #e40001;
    --blue: #9ac8c8;
    --yellow: #fbc117;
    --green: #005a5a;
    --orange: #fb5e01;
    --font: 'Fredoka One', cursive;
  }

 button {
	 position: relative;
	 display: inline-block;
	 cursor: pointer;
	 outline: none;
	 border: 0;
	 vertical-align: middle;
	 text-decoration: none;
	 background: transparent;
	 padding: 0;
	 font-size: inherit;
	 font-family: inherit;
}
 button.learn-more {
	 width: 12rem;
	 height: auto;
}
 button.learn-more .circle {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: relative;
	 display: block;
	 margin: 0;
	 width: 3rem;
	 height: 3rem;
	 background: var(--red);
	 border-radius: 1.625rem;
}
 button.learn-more .circle .icon {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: var(--yellow);
}
 button.learn-more .circle .icon.arrow {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 left: 0.625rem;
	 width: 1.125rem;
	 height: 0.125rem;
	 background: none;
}
 button.learn-more .circle .icon.arrow::before {
	 position: absolute;
	 content: '';
	 top: -0.25rem;
	 right: 0.0625rem;
	 width: 0.625rem;
	 height: 0.625rem;
	 border-top: 0.125rem solid var(--yellow);
	 border-right: 0.125rem solid var(--yellow);
	 transform: rotate(45deg);
}
 button.learn-more .button-text {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding: 0.75rem 0;
	 margin: 0 0 0 1.85rem;
	 color: var(--red);
	 line-height: 1.6;
	 text-align: center;
	 text-transform: uppercase;
}
 button:hover .circle {
	 width: 100%;
}
 button:hover .circle .icon.arrow {
	 background: var(--yellow);
	 transform: translate(1rem, 0);
}
 button:hover .button-text {
	 color: var(--yellow);
}
 @supports (display: grid) {
	 #submit-container {
		 grid-area: main;
		 align-self: center;
		 justify-self: center;
	}
}
 